table, td {
  border-bottom: 1px solid rgb(163, 162, 160);
  border-collapse:collapse;
  

}

// tr{
//   box-shadow: 0px 1px 2px #888888;
// }

table{
  font-size: 20px;
  color: grey;
  width: 952px;
  text-align: center;
}

td{
  padding: 6px;
}

.save{
  margin:0 18px;;
}

img{
  cursor: pointer;
}

input,select{
  border: 0.5px solid rgb(189, 189, 189);
  padding: 5px;
  border-radius: 8px;

}
form{
  width:952px;
  margin: 0 auto;
  // border: 1px solid red;
}

.add{
  margin-left: 50%;
  transform: translateX(-50%);
}
